# Neovim
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/.DS_Store

# Fish
fish/.config/fish/fish_variables
fish/.config/fish/completions/

# OpenCode
opencode/.config/opencode/node_modules/
opencode/.config/opencode/bun.lock

# Logs
*.log

# Secrets
*secret*
*token*
*password*
